doctype html
html(lang='en')
  head
    title
    link(
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" 
      rel="stylesheet"
    )
    link(
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    )
    script(
      src="https://use.fontawesome.com/f20ae5fe89.js"
    )
    link(
      rel='stylesheet' 
      href='styles.css'
    )
  
  body
    #header
      a.logo(href='/home')
        i(class="fa fa-twitter fa-4x" aria-hidden="true")
      h1.twits twits 
      #navbar
        button.logout logout 
    

block content
